<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang ="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Facultad de Ingenieria- Universidad nacional de Jujuy	</title>
		<link th:rel="stylesheet" data-th-href="@{/webjars/bootstrap/css/bootstrap.min.css}"></link>
	</head>
	
	<body>
		<!-- Incluir el fragmento de encabezado -->
		<div th:replace="~{layouts/header :: header}"></div>
		
		
		<div class="container-fluid">
			<div class="row">
				<aside class="col-md-3 bg-light p-3">
					<h4>Enlaces Útiles</h4>
					<ul class="list-unstyled">
						<li><a href="#">Biblioteca</a></li>
						<li><a href="#">Calendario académico</a></li>
					</ul>
				</aside>
				<main class="col-md-9 p-3">
					<section>
						<h2>Bienvenidos a la Facultad</h2>
						<p>La Facultad de Ciencias de la Universidad Nacional de Jujuy ofrece una educación de calidad...</p>
					</section>
					<section>
						<h2>Noticias Recientes</h2>
						<p>Últimas noticias sobre eventos, investigaciones, y más...</p>
					</section>
				</main>
			</div>
		</div>
    	<!-- Incluir el fragmento de pie de página -->
		<div th:replace="~{layouts/footer :: footer}"></div>
	</body>
</html>