<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facultad de Ingenieria - Universidad Nacional de Jujuy</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
    <!-- Encabezado -->
    <header th:replace="~{layouts/header :: header}"></header>
    
    <div class="container mt-5">
        <div class="row">
            <!-- Barra lateral de enlaces útiles -->
            <aside class="col-md-3 bg-light p-3">
                <h4>Recursos útiles</h4>
                <ul class="list-unstyled">
                    <li><a href="#">Biblioteca</a></li>
                    <li><a href="#">Calendario académico</a></li>
                </ul>
            </aside>
            
            <!-- Contenido principal -->
            <main class="col-md-9">
                <section class="shadow-sm py-4" id="descripcion">
                    <h2>Facultad de Ingeniería - Universidad Nacional de Jujuy</h2>
                    <div class="py-4 m-auto" style="max-width: 768px">
                        <img src="/images/imagen_edificio.jpg" alt="Edificio de la facultad de ingeniería" class="img-fluid">
                    </div>
                    <p>
                        La Facultad de Ingeniería de la Universidad Nacional de Jujuy (UNJu) se dedica a formar ingenieros capacitados, comprometidos con la innovación, el desarrollo sostenible y el progreso regional. Con un enfoque en la excelencia académica y la investigación aplicada, la facultad ofrece una variedad de programas de grado y posgrado en diversas disciplinas de la ingeniería.
                    </p>
                    <p>
                        Nuestra misión es proporcionar una educación superior que prepare a nuestros estudiantes para enfrentar los desafíos tecnológicos del futuro, contribuyendo al desarrollo socioeconómico de la región de Jujuy y del país. Fomentamos un ambiente de aprendizaje dinámico e inclusivo, apoyado por una infraestructura moderna y recursos académicos avanzados.
                    </p>
                    <p>
                        Los estudiantes de la Facultad de Ingeniería tienen acceso a diversas oportunidades de aprendizaje práctico, proyectos de investigación y programas de intercambio internacional. Además, mantenemos una sólida colaboración con la industria y otras instituciones académicas, facilitando la inserción laboral y el desarrollo profesional de nuestros egresados.
                    </p>
                </section>

                <section id="noticias">
                    <h2 class="text-center my-3">Últimas Noticias</h2>

                    <article class="shadow-sm py-4">
                        <h3>Premios Pre Ingeniería 2024</h3>
                        <div class="py-3 m-auto" style="max-width: 580px">
                            <img src="/images/premios" alt="Premios Pre Ingeniería 2024" class="img-fluid">
                        </div>
                        <p>
                            El Centro Argentino de Ingenieros renueva otro año más su compromiso con la ingeniería
                             y su importancia en la construcción del futuro de nuestro país. Con ese objetivo,
                              pone en marcha el XXIII Concurso anual destinado a premiar los mejores
                               trabajos de investigación y desarrollo producidos por alumnos del último año de las 
                               carreras universitarias de ingeniería en sus múltiples campos.
                        </p>
                    </article>

                    <article class="shadow-sm py-4">
                        <h3>Innovadora Adquisición en la Facultad de Ingeniería de la UNJu</h3>
                        <div class="py-3 m-auto" style="max-width: 480px">
                            <img src="/images/nueva-planta-piloto.jpg" alt="Adquisición en la Facultad de Ingeniería" class="img-fluid">
                        </div>
                        <p>La Facultad de Ingeniería de la Universidad Nacional de Jujuy (UNJu) 
                        ya cuenta con una nueva Planta Piloto equipada basada en un Módulo de Concentración, 
                        diseñado para satisfacer las necesidades prácticas de diversas áreas de la ingeniería. 
                        Este avance fue posible gracias a la gestión de la Secretaría de Ciencia y Técnica de la 
                        Facultad, encabezada en su momento por la Dra. Julia Santapaola, y continuada por la 
                        Ing. Alejandra Arduino, directora de la carrera de Ingeniería Química de la FI.</p>
                    </article>

                    <article class="shadow-sm py-4">
                        <h3>Taller de capacitación de Inclusión </h3>
                        <div class="py-3 m-auto" style="max-width: 480px">
                            <img src="/images/taller-capacitacion-inclusion.jpg" alt="Taller de capacitación de Inclusión" class="img-fluid">
                        </div>
                        <p>
                            El Equipo de Facultad de Ingeniería Saludable CONVOCA a los estudiantes de la Facultad de Ingeniería de la UNJu y beneficiarios de las Becas Manuel Belgrano, a participar del Taller de capacitación de Inclusión.
                        </p>
                    </article>
                </section>
            </main>
        </div>
    </div>

    <!-- Pie de página -->
    <footer th:replace="~{layouts/footer :: footer}"></footer>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>