<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Materias</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
</head>
<body>
    <div th:replace="layouts/header :: header"></div>
    <div class="container my-4">
        <h2>Lista de Materias</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Curso</th>
                    <th>Cantidad de Horas</th>
                    <th>Modalidad</th>
                    <th>Docente</th>
                    <th>Carrera</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="materia : ${materias}">
                    <td th:text="${materia.codigo}"></td>
                    <td th:text="${materia.nombre}"></td>
                    <td th:text="${materia.curso}"></td>
                    <td th:text="${materia.cantidadHoras}"></td>
                    <td th:text="${materia.modalidad}"></td>
                    <td th:text="${materia.docente.nombre + ' ' + materia.docente.apellido}"></td>
                    <td th:text="${materia.carrera.nombre}"></td>
                    <td>
                        <a th:href="@{/materia/editar/{codigo}(codigo=${materia.codigo})}">Editar</a> |
                        <a th:href="@{/materia/eliminar/{codigo}(codigo=${materia.codigo})}">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a href="/materia/agregar" class="btn btn-primary">Agregar Materia</a>
    </div>
    <div th:replace="layouts/footer :: footer"></div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>